@import "../../../forms.css";

@layer base {
  .otp-input {
    font-family: "Krub", sans-serif !important;
  }
}

.input--label {
  @apply text-grey-40 font-normal text-sm !important;
}

.input--error {
  @apply text-red-50 font-normal text-sm !important;
}

.input--help {
  @apply text-gray-500 font-normal text-xs !important;
}

.input {
  @apply rounded-md py-3 text-sm w-full block bg-white-10 hover:bg-gray-100 text-gray-900 placeholder:text-gray-400 caret-gray-900 focus:outline-none focus:outline-0 transition-all duration-500 ease-out !important;
}

.input--border {
  @apply border border-grey-30 hover:border-grey-40 disabled:hover:border-gray-100 focus:border-green-primary-40 transition-all duration-500 ease-out !important;
}

.input--border-error {
  @apply border border-red-50 transition-all duration-500 ease-out !important;
}

.toggle-password-icon {
  @apply absolute bottom-3 flex items-center right-0 pr-4;
}

.password-icon {
  @apply h-4 w-4 text-gray-400 !important;
}

.input--inner {
  @apply relative flex w-full h-fit;
}

.input--outer {
  @apply grid gap-1 content-start w-full h-fit relative;
}

.otp-input {
  @apply hover:bg-gray-100 rounded-[0.625rem] text-gray-900 placeholder:text-gray-400 caret-gray-900 disabled:bg-gray-100 disabled:text-gray-300 w-full lg:w-20 lg:h-16 text-2xl font-medium text-center py-5 px-5 transition-all duration-500 ease-out !important;
}

.search-input {
  @apply rounded-md w-full text-base block py-[0.4379rem] pl-8 transition-all duration-300 ease-out !important;
}

.PhoneInputInput {
  @apply rounded-r-md text-sm w-full block bg-white-10 hover:bg-gray-100 text-gray-900 placeholder:text-gray-400 caret-gray-900 focus:outline-none focus:outline-0 transition-all duration-500 ease-out !important;
  @apply border border-gray-200 hover:border-gray-100 focus:border-gray-900 transition-all duration-500 ease-out !important;
  @apply py-2.5 px-3 !important;
}

.PhoneInputCountry {
  @apply border-y border-l border-y-gray-200 hover:border-y-gray-100 focus:border-y-gray-900 hover:border-l-gray-100 focus:border-l-gray-900 rounded-md rounded-r-none border-l-gray-200 mr-0 pl-4 !important;
}

.PhoneInputCountryIcon {
  @apply size-5 rounded-full overflow-hidden !important;
}

.PhoneInputCountryIconImg {
  @apply object-cover !important;
}

.PhoneInput {
  @apply flex items-center gap-0 !important;
}

.PhoneInputCountryIcon--border {
  background-color: none !important;
  box-shadow: none !important;
}
