@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --viewport-height: 100vh; /* Set a CSS variable for viewport height */
  --header-height: 79.38px; /* Set a CSS variable for header height */
}

.page-height {
  height: calc(var(--viewport-height) - var(--header-height));
}

body {
  @apply overflow-hidden;
}

body,
#root {
  font-family: "Inter", serif;
  @apply min-h-screen;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide arrows in Webkit-based browsers (Chrome, Safari) */
.hide-number-input-arrows::-webkit-outer-spin-button,
.hide-number-input-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in Firefox */
.hide-number-input-arrows {
  -moz-appearance: textfield;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.react-datepicker-popper {
  @apply z-10 !important;

  svg {
    @apply invisible !important;
  }
}
.react-datepicker {
  @apply bg-white-10 border-0 shadow-2xl !important;
}
.react-datepicker__time-box {
  @apply flex flex-col h-96 overflow-y-hidden z-10 w-auto py-2.5 px-0 m-0 !important;
}
.react-datepicker__time-container,
.react-datepicker__time,
.react-datepicker__time-box {
  @apply rounded-br-3xl rounded-bl-3xl !important;
}
.react-datepicker__time-container {
  @apply w-fit grid justify-items-center !important;
}
.react-datepicker__time-list {
  @apply flex flex-col h-full gap-1 overflow-y-scroll px-2 !important;
}
.react-datepicker__time-list-item {
  @apply flex items-center w-24 justify-center text-center text-base cursor-pointer text-gray-700 hover:bg-gray-200 rounded p-2 !important;
}
.react-datepicker__time-list-item--selected {
  @apply text-green-500 bg-green-50 hover:bg-green-50 !important;
}
.react-datepicker__aria-live {
  @apply hidden !important;
}

.react-datepicker__header {
  @apply bg-green-primary-40 text-white-10 border-b-gray-200 rounded-t-xl !important;
}
.react-datepicker__month {
  @apply rounded-b-none !important;
}
.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply text-white-10 hover:text-white-10 border-white-10 !important;
}

.react-datepicker__navigation-icon {
  @apply text-white-10 fill-white-10 before:border-white-10 !important;
}

[aria-current="date"],
.react-datepicker__year-text--selected {
  @apply text-green-primary-40 bg-transparent;
}
.react-datepicker__day {
  @apply rounded-full !important;
}
[tabindex="0"]:has(.react-datepicker__day--selected) {
  @apply bg-green-50 text-green-primary-40 !important;
}
.react-datepicker__day--selected[aria-selected="true"] {
  @apply text-green-50 bg-green-primary-40 !important;
}
.react-datepicker__day[aria-disabled="true"] {
  @apply text-gray-400 font-normal hover:bg-transparent cursor-not-allowed !important;
}
.react-datepicker__day[aria-disabled="false"]:not(
    .react-datepicker__day--selected
  ) {
  @apply text-gray-900 font-normal !important;
}
.react-datepicker__week > [tabindex="-1"] {
  @apply hover:bg-green-50;
}

.react-datepicker-year-header {
  @apply whitespace-nowrap px-10 !important;
}
.react-datepicker__year-text {
  @apply flex-1 p-1 text-base hover:bg-green-50 hover:text-green-primary-30 ease-out duration-300 transition-all !important;
}
.react-datepicker__year-wrapper > [tabindex="0"] {
  @apply text-green-primary-40 bg-green-secondary-10;
}
.react-datepicker__tab-loop {
  @apply absolute !important;
}
