@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --viewport-height: 100vh; /* Set a CSS variable for viewport height */
  --header-height: 79.38px; /* Set a CSS variable for header height */
}

.page-height {
  height: calc(var(--viewport-height) - var(--header-height));
}

body {
  @apply overflow-hidden;
}

body,
#root {
  font-family: "Inter", serif;
  @apply min-h-screen;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
